@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
    font-size: 154%;
    padding: 5%;
}

h1, h2, h3 {
    color: #6623CC;
}

h3 {
  padding: 0px;
  margin: 0px;
}

a:visited {
  color: blue;
}
